.content {
  display: flex;
  align-items: center;
}

.content p {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.063rem;
}

.content span {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.125rem 0.5rem;
  margin-left: 0.5rem;

  background: var(--gray-400);
  border-radius: 999px;

  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.938rem;
}

.created {
  color: var(--blue);
}

.concluded {
  color: var(--purple);
}
